@page
@using Microsoft.AspNetCore.Mvc.Localization
@model AccessDeniedModel
@{
    ViewData["Title"] = @localizer["LockedHeader"];
}
@inject IViewLocalizer localizer


<header>
    <h1 class="text-danger">@localizer["LockedHeader"]</h1>
    <p class="text-danger">@localizer["LockedBody"]</p>
</header>
