@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model LockoutModel
@{
    ViewData["Title"] = localizer["LockoutHeader"];
}


<header>
    <h1 class="text-danger">You are banned!</h1>
</header>
