@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model LockoutModel
@{
    ViewData["Title"] = @localizer["LockoutHeader"];
}


<header>
    <h1 class="text-danger">@localizer["LockoutHeader"]</h1>
</header>
