@model MathWars.Models.WarTask

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<br />
<h3>New MathTask</h3>
<div>
        <form asp-action="Create" type="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control form-control-sm" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <select class="form-control" asp-for="Topic" required>
                    <option>Dynamic Programming</option>
                    <option>Data structures</option>
                </select>
            </div>
            <div class="form-group">
                <div class="mdeContainer">
                    <textarea asp-for="Body" placeholder="Description" id="editor"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Tags</label>
                <input class="form-control form-control-sm" name="taskTags" />
                @* <span asp-validation-for="Title" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                 <label class="control-label">Right answers</label>
                <input class="form-control form-control-sm" name="taskRightAnswers"/>
                @* <span asp-validation-for="Title" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                @* <label class="control-label">Add images:</label> *@
                @* <br /> *@
                <input type="file" multiple/>
            </div>
            <div class="form-group float-right">
                <input type="button" value="Clear" class="btn btn-danger" />
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
<script src="~/js/myJs.js" asp-append-version="true"></script>

@* <script src="~/js/myJs.js"></script> *@
